.feature {
    background-color: var(--gray-100);
    margin-top: 0;
}

/* Mobile styles */
.feature__container {
    padding: 4rem 1.5rem;
    text-align: center;
}

.feature__header {
    margin-bottom: 3.75rem;
}

.feature__header h2 {
    margin-bottom: 1rem;
}

.feature__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.feature__item-icon {
    margin-bottom: 2rem;
}

.feature__item h3 {
    margin-bottom: 0.75rem;
}

.feature__item p {
    font-size: 0.875rem;
    line-height: 1.5;
}

/* Tablet and up */
@media (min-width: 768px) {
    .feature__container {
        text-align: left;
    }

    .feature__header {
        margin-bottom: 4rem;
    }

    .feature__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Laptop / Small Desktop and up */
@media (min-width: 1024px) {
    .feature__container {
        padding: 6rem 1.5rem;
    }
    
    .feature__header {
        width: 70%;
        margin-bottom: 5rem;
    }

    .feature__header h2 {
        margin-bottom: 2.25rem;
    }

    .feature__list {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .feature__item-icon {
        margin-bottom: 2.75rem;
    }

    .feature__item h3 {
        margin-bottom: 1.5rem;
    }
}