.menu {
    position: absolute;
    width: calc(100% - 3rem);
    left: 50%;
    transform: translate(-50% , -20%);
    margin-top: 1.5rem;
    padding: 1.625rem;
    background-color: var(--white);
    z-index: var(--menu-100);
    border-radius: 5px;

    opacity: 0;
    pointer-events: none;
    transition: 
        opacity 0.25s ease,
        transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.menu li {
    padding: 0.625rem;
    text-align: center;
    font-weight: var(--medium-400);
}

.menu li a {
    color: var(--blue-950);
}

.menu--open {
    opacity: 1;
    transform: translate(-50%, 0);
    pointer-events: auto;
}