.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(var(--blue-950), transparent);

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: var(--backdrop-100);
}

.backdrop--open {
    opacity: 1;
    pointer-events: auto;
}