@import url(https://fonts.googleapis.com/css?family=Public+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

html, body {
    overflow-x: hidden;
}

html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Public Sans", sans-serif;
    font-size: clamp(1.125rem, 2vw, 1.25rem);
    font-weight: var(--normal-300);
    line-height: 1.5;
    color: var(--gray-600);
}

h1, h2, h3, h4 {
    margin-top: 0;
    color: var(--blue-950);
    font-weight: var(--medium-400);
    line-height: 1.2;
}

h1 {
    font-size: clamp(2.31rem, 4vw, 3.25rem);
}

h2 {
    font-size: clamp(2rem, 2.5vw, 2.25rem);
}

h3 {
    font-size: clamp(1.25rem, 2vw, 1.5rem);
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.scrolling-disabled {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}