:root {
    /* COLORS */
    /* PRIMARY */
    --blue-950: hsl(233, 26%, 24%);
    --green-500: hsl(136, 64%, 51%);
    --cyan-400: hsl(192, 69%, 51%);

    /* NEUTRAL */
    --gray-600: hsl(233, 8%, 62%);
    --gray-100: hsl(220, 16%, 96%);
    --gray-50: hsl(0, 0%, 98%);
    --white: hsl(0, 100%, 100%);

    /* GRADIENT */
    --gradient-bg: linear-gradient(to bottom left, var(--green-500), var(--cyan-400));

    /* FONT SIZE */
    --font-size-sm: 0.875rem;
    --font-size-xs: 0.8125rem;
    --font-size-xxs: 0.75rem;

    /* FONT WEIGHT */
    --normal-300: 300;
    --medium-400: 400;
    --bold-700: 700;

    /* Z-INDEX */
    --menu-1000: 1000;
    --header-200: 200;
    --backdrop-100: 100;

    /* TRANSITIONS */
    --transition-fast: 150ms
}