.header {
    position: relative;
    background-color: var(--white);
    z-index: var(--header-200);
}

.header nav {
    padding: 1.0625rem 1.5rem;
}

.nav__logo {
    width: 9.625rem;
    height: 1.375rem;
}

/* Mobile styles */
ul.nav__links {
    display: none;
}

.nav__links {
    display: flex;
    gap: 30px;
}

.nav__links li a {
    color: var(--gray-600);
    font-size: var(--font-size-sm);
    font-weight: var(--medium-400);
    transition: color var(--transition-fast) ease;
    position: relative;
}

.nav__links li a:hover {
    color: var(--blue-950)
}

.nav__links li a::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -28px;
    height: 5px;
    background: var(--gradient-bg);
    opacity: 0;
    transition: opacity var(--transition-fast) ease;
}

.nav__links li a:hover::before {
    opacity: 1;
}

.button--header {
    display: none;
}

/* Laptop / Small Desktop and up */
@media (min-width: 1024px) {
    ul.nav__links {
        display: flex;
    }

    .button--header {
        display: inline-block;
    }
}